
<%= simple_form_for(@deep_well) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :dwID %>
    <%= f.input :deepWellName %>
    <%= f.input :dateGranted %>
    <%= f.input :ownerName %>
    <%= f.input :wellLocation %>
    <%= f.input :wellCoodinates %>
    <%= f.input :waterPermitNo %>
    <%= f.input :contractor %>
    <%= f.input :depthTotal %>
    <%= f.input :dateofUTVI %>
    <%= f.input :reason %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
