<!--Specific Deepwell Page-->

<!--CSS Stylesheet for Deepwell Info Table ('Table 1')-->
<style type="text/css">
  .row {
    border: 0.5px solid;
    color: gray;
  }
  .col{
    border: 0.5px solid;
    color: gray;
  }
  .pcolor{
    color: black;
  }
</style>

<div class="container">
  <!-- [Insert Comment] -->
  <p id="notice"><%= notice %></p>


  <!-- Start of 'table' #1-->
  <div  class="container ">
      <div class="row">
          <% @deep_wells.each do |deep_well| %>
          <p class="pcolor">Deep Well Name: <%= deep_well.deepWellName %></p>
        </div>
      <div class="row">
        <div class="col">
          <p class="pcolor">Owner: <%= deep_well.ownerName %></p>
        </div>
        <div class="col">
          <p class="pcolor">Date Granted: <%= deep_well.dateGranted %></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="pcolor">Contractor: <%= deep_well.contractor %></p>
        </div>
        <div class="col">
          <p class="pcolor">Date of Deepwell: </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="pcolor">Well Location: <%= deep_well.wellLocation %></p>
        </div>
        <div class="col">
          <p class="pcolor">Deepwell ID: <%= deep_well.dwID %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="pcolor">Well Coordinates: <%= deep_well.wellCoodinates %></p>
        </div>
        <div class="col">
          <p class="pcolor">Water Permit No.:  </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="pcolor">Deep Well Diameter: </p>
        </div>
        <div class="col">
          <p class="pcolor">Total Depth: <%= deep_well.depthTotal %>  </p>
        </div>
      </div>
    </div><br><br>
    <!-- End of 'table' #1-->

  <!-- Start of table #2-->
  <table class="table table-hover table-bordered ">
     <thead>
      <tr>
        <th style="width: 60%">File</th>
        <th style="width: auto;">Date Added</th>
        <th colspan="1">Last Updated</th>
      </tr>
    </thead>
  </table><br>
  <!-- End of table #2-->

  <!--Button to Add New Deep Well-->
  <button type="button" class="btn btn-light text-right float-end" >
    <%= link_to 'New Deep Well', new_deep_well_path %>
  </button>
  
</div>

<!--

<table class="table table-hover table-bordered ">
  <thead>
    <tr>

      <td colspan="2"><%= deep_well.deepWellName %></td>
  </thead>

  <tbody>
    
      <tr>
        <td>Deepwell ID: <%= deep_well.dwID %> </td>
      </tr>
      <tr>
        <td>Owner: <%= deep_well.ownerName %></td>
      </tr>
      <tr>
        <td>Contractor: <%= deep_well.contractor %></td>
      </tr>
      <tr>
        <td>Well Location: <%= deep_well.wellLocation %></td>
      </tr>
      <tr>
        <td>Well Coordinates: <%= deep_well.wellCoodinates %></td>
      </tr>

      <tr>
        <td>Deepwell Diameter: </td>
      </tr>
      <tr>
        <td>Date Granted: <%= deep_well.dateGranted %></td>
      </tr>
      <tr>
        <td>Date of Deepwell: </td>
      </tr>
      <tr>
        <td>Water Permit: %></td>
      </tr>
      <td>Water Permit: <%= deep_well.depthTotal %></td>
        <td><%= deep_well.dateofUTVI %></td>
        <td><%= deep_well.reason %></td>
        <td><%= link_to 'Show', deep_well %></td>
        <td><%= link_to 'Edit', edit_deep_well_path(deep_well) %></td>
        <td><%= link_to 'Destroy', deep_well, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->