<p id="notice"><%= notice %></p>

<p>
  <strong>Dwid:</strong>
  <%= @deep_well.dwID %>
</p>

<p>
  <strong>Deepwellname:</strong>
  <%= @deep_well.deepWellName %>
</p>

<p>
  <strong>Dategranted:</strong>
  <%= @deep_well.dateGranted %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @deep_well.ownerName %>
</p>

<p>
  <strong>Welllocation:</strong>
  <%= @deep_well.wellLocation %>
</p>

<p>
  <strong>Wellcoodinates:</strong>
  <%= @deep_well.wellCoodinates %>
</p>

<p>
  <strong>Waterpermitno:</strong>
  <%= @deep_well.waterPermitNo %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @deep_well.contractor %>
</p>

<p>
  <strong>Depthtotal:</strong>
  <%= @deep_well.depthTotal %>
</p>

<p>
  <strong>Dateofutvi:</strong>
  <%= @deep_well.dateofUTVI %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @deep_well.reason %>
</p>

<%= link_to 'Edit', edit_deep_well_path(@deep_well) %> |
<%= link_to 'Back', deep_wells_path %>
